<div class="card">
	<div class="card-header card-header-warning">
		<h4 class="card-title">Список Задач</h4>
	</div>
	<div class="card-body table-responsive">
		<table [dataSource]="dataSource" mat-table>
			<!--color of priority-->
			<ng-container matColumnDef="color">
				<th *matHeaderCellDef mat-header-cell>цвет состояния</th>
				<td *matCellDef="let task" [style.background-color]="getPropertyColor(task)" mat-cell></td>
			</ng-container>
			<!--INDEX-->
			<ng-container matColumnDef="id">
				<th *matHeaderCellDef mat-header-cell>индекс</th>
				<td *matCellDef="let index = index" mat-cell>{{index+1}}</td>
			</ng-container>
			<!--name of task-->
			<ng-container matColumnDef="title">
				<th *matHeaderCellDef mat-header-cell>название</th>
				<td *matCellDef="let task" [class.complited]="task.complited" mat-cell>
					{{task.title}}
				</td>
			</ng-container>
			<!--date of complited task-->
			<ng-container matColumnDef="date">
				<th *matHeaderCellDef mat-header-cell>дата</th>
				<td *matCellDef="let task" [ngClass]="{'complited':task.complited, 'nodate':task.date == null}"
					mat-cell>
					{{task.date | date:format:"medium"}}
				</td>
			</ng-container>
		</table>
	</div>
</div>